<p id="notice"><%= notice %></p>

<p>
  <b>School:</b>
  <%= @roster.school %>
</p>

<p>
  <b>Year:</b>
  <%= @roster.year %>
</p>


<%= link_to 'Edit', edit_roster_path(@roster) %> |
<%= link_to 'Back', rosters_path %>
