<%= simple_form_for(@player) do |f| %>
  
	<%= f.input :number %>
	<%= f.input :position %>
	<%= f.input :height %>
	<%= f.input :weight %>
	<%= f.input :year_of_eligibility %>
  <% (Date.today.year..(Date.today.year + 4)).each do |year| %>
    <%= f.simple_fields_for :eligible_years, @player.eligible_years.new(:year => year) do |eyf| %>
      <%= eyf.input :year %>
      <%= eyf.input :status, :collection => ["Playing", "Redshirt"] %>
      <%= eyf.input :status_explanation %>
      <%= eyf.input :transfer_school %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
